body{
    /* background-color: rgb(61, 78, 90); */
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    background-image: url(images/bg-2.jpg);
}

.shop-name{
    text-align: center;
    margin: 50px 30% 0px;
}

.shop-name h1{
    color:rgb(228, 79, 79);
    font-size: 50px;
    margin-bottom: 0px;
}

.flexible{
    display:flex;
    margin: 50px 2% 50px 2%;
    /* background-color: rgb(116, 204, 204); */
}

.container{
    width: 33.33%;
    background-color: rgba(98, 134, 143, 0.472);
    margin: 5px 10px;
    border-radius: 25px;
    text-align: center;
    

}
.image-box{
    background-color: rgba(215, 236, 236, 0.37);
    border-radius: 25px;
    text-align: center;
    width: 90%;
    position: relative;
    margin:20px auto;
    
}

.image{
    width: 70%;
}

.flexible h2{
    font-size: 30px;
    color:rgb(245, 192, 58)
}

.flexible p{
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}


.image:hover{
    transform: scale(1.5);    
}

.container h2:hover{
    text-shadow: 2px 2px 2px tomato;
}


.cover-section{
    margin: 50px 2% 50px 2%;
    text-align: center;
    

}



.cover-section img{
    width: 60%;
    border-radius: 20px;
    opacity: 1;
    
    
}

footer{
    height: 150px;
    background-color: rgba(0, 128, 128, 0.5);
    margin-top: 100px;
    text-align: center;

}
footer h2{
    color: tomato;
    padding-top: 50px;
    margin-bottom: -10px;
}

.shop-name:hover h1{
    transform: scale(1.2);
    text-shadow:2px 2px 2px rgb(190, 181, 179);
}